@import "../utils/_constants";

.card-list {
  .deckname {
    text-align: center;
  }
}

.category-list {
  background: $cardlist-bg-colour;

  > .title {
    margin-bottom: $small-gld;
  }

  > .cardline-list {
    margin-left: $small-gld;
    list-style: none;
  }
}

.cardline-item {
  $border: 1px solid darken($cardlist-bg-colour, 10%);
  border-bottom: $border;
  display: flex;
  padding: 0.2em 0;
  transition: $trans-time background;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background: darken($cardlist-bg-colour, 5%);
  }

  > .mana-cost {
    width: 20%;
  }
}
