@import "../utils/_constants";

.card-list {
  .deckname {
    $colour: lighten(black, 45%);
    border: none;
    border-bottom: 2px solid $colour;
    color: $colour;
    display: block;
    font-size: 1.5em;
    margin-bottom: $small-gld;
    text-align: center;
    transition:
      $trans-time box-shadow,
      $trans-time border-bottom;
  }

  .deckname:focus {
    background: darken($nav-bg-colour, 5%);
    border-bottom: none;
    box-shadow: 2px 2px 2px darken($nav-bg-colour, 20%);
  }
}

.category-list {
  background: $cardlist-bg-colour;

  > .title {
    margin-bottom: $small-gld;
  }

  > .cardline-list {
    margin-left: $small-gld;
    list-style: none;
  }
}

.cardline-item {
  $border: 1px solid darken($cardlist-bg-colour, 10%);
  border-bottom: $border;
  display: flex;
  padding: 0.2em 0;
  transition: $trans-time background;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background: darken($cardlist-bg-colour, 5%);
  }

  > .mana-cost {
    width: 20%;
  }

  > .nbcopies {
    margin-left: 5%;
  }

  > .card-button {
    margin-left: 2%;
  }
}
