@import '../utils/_constants';

.nav-bar {
  background: $nav-bg-colour;
  box-shadow: 2px 2px 2px darken($nav-bg-colour, 20%);
  color: $nav-colour;
  height: $nav-height;
  position: fixed;
  top: 0;
  width: 100%;

  > .menu-list {
    display: flex;
    flex-flow: row-wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  > .menu-list > .menu-item,
  > .menu-list > .menu-item > .other-menu-list > .menu-item > .other-menu-item {
    display: inline-block;
    height: 100%;
  }

  > .menu-list > .menu-item > .other-menu-list > .other-menu-item > .link {
    $padding-tb: ($nav-height - $nav-menu-fontsize) / 2 + (1 - $nav-menu-fontsize);
    font-size: $nav-menu-fontsize;
    padding-top: $padding-tb;
    padding-bottom: $padding-tb;
  }

  > .menu-list > .menu-item > .other-menu-list > .other-menu-item > .link:active {
    $padding-tb: ($nav-height - $nav-menu-fontsize-bigger) / 2 - 0.1em;
    font-size: $nav-menu-fontsize-bigger;
    padding-top: $padding-tb;
    padding-bottom: $padding-tb;
  }
}

.app-title {
  font-size: $nav-title-fontsize;
  display: inline-block;
  height: 100%;

  > .link {
    $padding-tb: ($nav-height - $nav-title-fontsize) / 2 - 0.1em;
    padding-top: $padding-tb;
    padding-bottom: $padding-tb;
  }
}

.other-menu-list {
  display: inline-block;
  list-style: none;

  > .other-menu-item {
    display: inline-block;
    height: 100%;
  }
}

.nav-button {
  transition: $trans-time background;
  &:hover {
    background: darken($nav-bg-colour, 10%);
  }

  > .link {
    color: $nav-colour;
    display: inline-block;
    $padding-lr: 1em;
    height: 100%;
    padding-left: $padding-lr;
    padding-right: $padding-lr;
    transition:
      $trans-time font-size,
      $trans-time padding;
  }
}

.nav-search {
  $margin-tb: ($nav-height - $nav-search-height) / 2;
  margin: $margin-tb 0;
  height: $nav-search-height !important;
  transition: $trans-time width;
  width: 30%;

  > .form-search {
    height: 100%;
    width: 100%;
  }
}

.form-search {

    > .field,
    > .search-button {
      background: darken($nav-bg-colour, 5%);
      border: none;
      box-shadow: 2px 2px 2px darken($nav-bg-colour, 20%);
      display: inline-block;
      font-size: $nav-search-fontsize;
      height: 100%;
    }

    > .field {
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;
      float: left;
      padding: $nav-search-padding 2%;
      transition: 0.2s box-shadow;
      width: 85%;
    }

    > .field:focus {
      box-shadow:
        2px 2px 2px darken($nav-bg-colour, 20%),
        0 0 4px 0 grey inset;
    }

    > .search-button {
      background: darken($nav-bg-colour, 5%);

      border-top-right-radius: 1px;
      border-bottom-right-radius: 1px;
      color: $nav-colour;
      cursor: pointer;
      padding: 0.6em 2%;
      transition:
        $trans-time background,
        $trans-time color;
      width: 15%;

      > .icon {
        background-image: url($icon-magnifying-glass);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        height: 100%;
        width: 100%;
      }

      &:hover {
        background: lighten($nav-emph-colour, 20%);
        color: darken($nav-emph-colour, 10%);
      }
    }
}

.nav-profile {
  font-size: $nav-profile-fontsize;
  height: 100%;

  > .nav-button {
    font-size: inherit;
  }

  > .nav-button > .link {
    $padding-tb: ($nav-height - $nav-profile-fontsize) / 2 + 0.03em;
    padding-top: $padding-tb;
    padding-bottom: $padding-tb;
  }

  > .nav-button > .link:active {
    $padding-tb: ($nav-height - $nav-profile-fontsize-bigger) / 2 - 0.03em;
    font-size: $nav-profile-fontsize-bigger;
    padding-top: $padding-tb;
    padding-bottom: $padding-tb;
  }
}
