@import url('https://fonts.googleapis.com/css?family=Raleway');

// Common variables
$main-font: 'Raleway', Tahoma, sans-serif;
$trans-time: 0.4s;

$emph-colour: #AAA;

// Navbar variables
$nav-bg-colour: white;
$nav-colour: #333;
$nav-height: 3em;
$nav-search-height: 2em;
$nav-search-fontsize: 0.8em;
$nav-search-padding: 0.2em;
$nav-title-fontsize: 1em;
$nav-menu-fontsize: 0.8em;
$nav-menu-fontsize-bigger: $nav-menu-fontsize + 0.2em;
$nav-profile-fontsize: 0.9em;
$nav-profile-fontsize-bigger: $nav-profile-fontsize + 0.2em;
$nav-emph-colour: $emph-colour;

// Main variables
$footer-font-size: 0.8em;

// Card list variables
$cardlist-bg-colour: white;
$cardblock-bg-colour: white;

// Icon paths
$icon-magnifying-glass: '../img/icons/magnifying-glass.svg';

// Golden values
$golden: 1.618;
$base: 100%;
$gld10: $base / $golden;
$gld9: $base - $gld10;
$small-gld: 1.5em;

// Magic colours
$black: black;
$blue: #4172AC;
$green: #18AA53;
$red: #EA2F22;
$white: #B0AC9A;
$yellow: #E69C3E;

// Magic rarity
$common: black;
$uncommon: #577784;
$rare: #AD9760;
$mythic: #C85627;
