@import url('https://fonts.googleapis.com/css?family=Raleway');

// Common variables
$main-font: 'Raleway', Tahoma, sans-serif;
$trans-time: 0.4s;

// Navbar variables
$nav-bg-colour: #444;
$nav-colour: white;
$nav-height: 3em;
$nav-search-height: 2em;
$nav-search-fontsize: 0.8em;
$nav-search-padding: 0.2em;
$nav-title-fontsize: 1em;
$nav-menu-fontsize: 0.8em;
$nav-emph-colour: #edba3b;

// Main variables
$footer-font-size: 0.8em;

// Golden values
$golden: 1.618;
$base: 100%;
$gld10: $base / $golden;
$gld9: $base - $gld10;
